*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
} html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
.header{
    width:100%;
    height:35rem;
    background-image: linear-gradient(to right,#710193,#800080);
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    overflow: hidden;
}
.section{
    width:100%;
    /* background-image:linear-gradient(to right,yellow,white) */
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
}
.section1, .section4{
    height: 400px;
    margin-top: -110px;
    position: relative;
    z-index: -1;
    background: lightgray;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1561489413-985b06da5bee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.section2, .section3{
    padding: 20px;
}
.section2 p,.section3 p,.section9 p{
    line-height: 2rem;
}
.section2 h3,.section9 h3, .section3 h3{
    margin: auto;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
.section4{
    margin: 0;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px -4px;
    background-image: url("https://www.simc.edu/img/gallery/large/pic_7.jpg");
}
.section5 h3{
    font-size:100px;
    margin-top: 70px;
    font-family: 'Varela Round', sans-serif;
    text-align:center;
}
.section6{
    height: 25%;
    Width:25%;
    margin-top:40px;
    /* background: lightgray; */
    margin-left: 200px;
    float: left;
    box-shadow: 10px 10px 10px;
}
.section7{
    height: 25%;
    margin-top: 40px;
    background: darkcyan;
    padding: 30px;
    
}

.groupchat-section{
    height: 500px;
    Width:100%;
}
.groupchat-section1{
    height: 200px;
}
.groupchat-image{
    background-position: center;
    width: 300px;
    margin: 0% 25%;
    background-size: cover;
    transform: rotate(-35deg);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdyiCwcbf2CgU-5Gk6m4vCnCalqjafqQ7wxUTGdZ1FG40Y3IQE');
}
.groupchat-section1 h3{
    margin: auto;
    text-align: center;
    font-size: 45px;
    font-family: 'Varela Round', sans-serif;
}
.groupchat-section1 p{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color:purple;
    padding: 20px;
} .groupchat-section1 > div{
    margin-top: 50%;
    transform: translate(0px, -50%);
}
.img2{
    width:100%;
    height:40%;
    text-align: justify;
    /* background: lightgray; */
}
.img1, .img3{
    width: 270px;
    margin-top:20px;
    box-shadow: 0 0 15px -2px;
    height: 270px;
    margin: auto;
    border-radius:50%;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ5oRimAve9AeNQdkUARaY32XKUpBnCjncuCQJZhoPOcTs1qq33");
}
.img3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQNbA24jLtpfC9j-U0N0fSMHGAW-phlz-GnrmOf2qrZ1ZztnhKy");
}
.img2 p{
    line-height: 1.5rem;
}
.web-name{
    font-family: 'Righteous', cursive;
    color:white;
    font-weight: 10;
    font-size: 4rem;
    padding: 45px 90px;
}

.nav{
    font-family: 'Varela Round', sans-serif;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
} .nav p {
    margin: auto;
    padding: 10px
} .nav div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size:25px;
    text-align: right;  
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    background: #00000033;
    box-shadow: 0 0 0 white;
}
.header img{
    width: 60rem;
    height:60vh;
    margin-top: -140px;
    
}
.section, .groupchat-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 26px;
}
.footer2 p{
    text-align:center;
    font-size:15px;
    color: gray;
    font-family: 'Varela Round', sans-serif;
    padding:12px;
}
.detail {
    font-size: 45px;
    color: white;
    font-weight: 100;
    font-family: 'Varela Round', sans-serif;
    margin-left:calc(100% - 750px);
    margin-top: 200px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    /* margin: 0 auto; Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end),
      blink-caret .70s step-end infinite;
      animation-iteration-count: infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
.header i{
    display: block;
    margin: 20px auto;
    width: min-content;
    color: white;
}
.nav a:hover{
    /* border-bottom: 3px solid white; */
    box-shadow: 0 3px 0 white;
    transition:  0.3s ease 0s, left 0.3s ease 0s;
}


.footer{
    width:100%;
    height:10rem;
    background:  #262626;
}
ul { 
    margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
 .footer1 a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .footer1 a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .footer1 a:hover:after { 
    width: 100%; 
    left: 0; 
    background: green;
  }

@media only screen and (max-width:600px)
{
    .detail {
        font-size: 22px;
        margin-left: calc(100% - 350px);
    } .nav {
        grid-template-columns: 100%;
    }
    /* .nav a{
        float: left;
    } */
   
    .nav div {
        justify-content: center;
    }
    .section {
        display: grid;
        grid-template-columns: 100%;
    } .groupchat-section {
        grid-template-columns: 100%;
        height: auto;
    } .groupchat-image {
        width: 100%;
        transform: rotate(0deg);
        height: 600px;
        margin: 0;
    } .groupchat-section1 {
        height: 200px;
    } .groupchat-section1 > div {
        margin-top: 30%;
    }
}